{
	"parserOptions": {
		"ecmaVersion": 2017,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"env": {
		"browser": true,
		"node": true,
		"amd": true,
	},
	"globals": {
		"angular": true,
		"inject": false,
		"qq": false,
		"_": false,
		"System": false,
		"Promise": false,
		"SystemJS": false,
	},
	"rules": {
		"no-bitwise": "error",
		"guard-for-in": "error",
		"no-caller": "error",
		"no-irregular-whitespace": "error",
		"no-new": "error",
		"no-plusplus": "off",
		"no-undef": "error",
		"no-unused-vars": 0,
		"strict": "off",
		"semi": ["error", "always"],
		"no-cond-assign": "error",
		"no-debugger": "error",
		"no-dupe-args": "error",
		"no-dupe-keys": "error",
		"no-eq-null": "off",
		"no-eval": "error",
		"no-implied-eval": "error",
		"block-scoped-var": "off",
		"no-iterator": "error",
		"no-loop-func": "off",
		"valid-typeof": "error",
		"no-proto": "error",
		"no-script-url": "error",
		"no-shadow": "off",
		"no-invalid-this": "off",
		"require-yield": "error",
		"curly": "off",
		"eqeqeq": "off",
		"no-extend-native": "off",
		"no-use-before-define": "off",
		"complexity": ["error", 32],
		"max-depth": ["error", 6],
		"max-params": ["error", 100],
		"max-statements": ["error", 150],
		"max-len": ["error", 155],
		"array-bracket-spacing": ["error", "never"],
		"brace-style": "off",
		"camelcase": "off",
		"comma-spacing": ["error", { "before": false, "after": true }],
		"comma-style": ["error", "last"],
		"consistent-this": ["error", "that"],
		"eol-last": "off",
		"jsx-quotes": ["error", "prefer-double"],
		"key-spacing": ["error", { "beforeColon": false, "afterColon": true }],
		"keyword-spacing": ["error", { "before": true, "after": true }],
		"no-mixed-spaces-and-tabs": ["error", "smart-tabs"],
		"no-trailing-spaces": "error",
		"no-whitespace-before-property": "error",
		"quotes": ["error", "single"],
		"space-before-blocks": ["error", { "functions": "always", "keywords": "always", "classes": "always" }],
		"space-before-function-paren": ["error", { "anonymous": "always", "named": "never" }],
		"space-infix-ops": "error"
	}
}
