custom-button.themed, custom-button.themed-dark {
	button {
		color: #111;
		outline: none;
		background-color: #85b3ff;
		box-sizing: border-box;
		border: none;
		border-radius: 32px;
		font-style: italic;
		transition: all .2s ease;
		box-shadow: 0 2px 2px rgba(0, 0, 0, .4);
		margin-right: .4em;

		&:hover {
			background-color: #2b93dd;
			color: #fff;
		}

		&:-moz-focusring {
			outline: none;
		}

		&::-moz-focus-inner {
			outline: none;
			border: 0;
		}

	}
}

custom-button.themed-dark {
	button {
		color: #e8eee8;
		background-color: #424344;

		&:hover {
			background-color: #8d8e8f;
			color: #fff;
		}
	}
}