h3.form-section {
	font-size: 1em;
	margin: 3em 0 1em 0;
	padding: 0 0 0 .4em;
	border-left: 8px solid @app-header-background;
}

.input-element {
	width: 300px;
}

.input-element-grid {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	padding: 0;
	margin: 0;
	align-content: flex-start;
	align-items: flex-start;
	justify-items: flex-start;
	justify-content: flex-start;

	.input-element-grid-cell {
		min-width: 20%;
		overflow: hidden;
	}

	tc-input-text {
		padding: 4px !important;
		margin: 0 32px 32px 0 !important;
	}
}

.input-element-grid-stat {
	ul {
		font-size: .9em;
	}
}

.stat-table {
	width: 80%;

	thead {
		background-color: #678695;

		th {
			height: 40px;
			color: #fff;
		}
	}

	tbody, tfoot {
		td {
			text-align: center;
			height: 32px;
		}

		td:nth-of-type(1) {
			text-align: right;
		}
	}

	tfoot {
		height: 32px;

		td {
			color: #fff;
			background-color: #7aa6b7;
			font-weight: bold;
		}

		td:nth-of-type(1) {
			background-color: transparent;
		}
	}
}