@import "variables.less";

body.pure-html-view {
	background-color: #56697d;
	padding: 0 10%;

	#app-mount-point {
		display: block;

		.section-header {
			background-color: #1c5c84;
			color: #fff;
		}

		.app-side-menu {
			background-color: #103048;

			.app-side-menu-items {
				margin-top: 16px;

				a {
					color: #fff;
				}
			}
		}

		#app-page-container {
			box-shadow: -4px 0 8px rgba(0, 0, 0, .1);
		}


		.stat-table {
			width: 80%;

			thead {
				background-color: #678695;

				th {
					height: 40px;
					color: #fff;
				}
			}

			tbody, tfoot {
				td {
					text-align: center;
					height: 32px;
				}

				td:nth-of-type(1) {
					text-align: right;
				}
			}

			tfoot {
				height: 32px;

				td {
					color: #fff;
					background-color: #7aa6b7;
					font-weight: bold;
				}

				td:nth-of-type(1) {
					background-color: transparent;
				}
			}
		}
	}
}