@import (inline) "./_normalize.css";
@import (inline) "./_fonts.css";
@import (inline) "./_buttons.css";
@import "./typography.less";

@page-background: #fff;
@app-background: #ccc;
@app-accent: #801a48;
@app-accent-color: #fff;
@menu-size: 60px;
@app-switcher-accent: #0c5980;
@app-switcher-size: 300px;

body, html {
	background-color: @page-background;
	font-family: system-ui, Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: 300;
	padding: 0;
	margin: 0;
}

body {
	width: 100%;
	min-width: 960px;
	margin: 0 auto;
	color: @app-color;
	min-height: 100vh;
	position: relative;
	overflow: hidden;

	--menu-size: @menu-size;
	--app-accent: @app-accent;
	--app-switcher-accent: @app-switcher-accent;
	--app-accent-color: @app-accent-color;
	--app-switcher-size: @app-switcher-size;
}

.right-content {
	display: flex; // IE
}

.card() {
	border-radius: 5px;
	padding: 8px;
	margin: 8px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
	background-color: #fff;
	display: flex;
	p {
		margin: 8px;
		padding: 0;
	}
}

.content-container {
	position: fixed;
	top: @menu-size;
	left: @menu-size;
	bottom: 0;
	right: 0;
	background-color: @app-background;
	overflow: auto;
	padding: 8px;
	z-index: 0;

	.example-grid {
		.card();
	}

	.example-top {
		min-height: 100px;
		display: flex;
		width: 100%;

		.example-top-cell1 {
			width: 30%;
			.card();
		}

		.example-top-cell2 {
			width: 70%;
			.card();
		}
	}

	.example-bottom {
		min-height: 100px;
		display: flex;
		width: 100%;

		.example-bottom-cell1, .example-bottom-cell2, .example-bottom-cell3 {
			width: 33%;
			.card();
		}

	}
}