@import "./variables.less";

.app-side-menu {
	display: flex;
	flex-flow: column nowrap;
	width: @app-side-menu-width;
	min-height: 100vh;
	position: fixed;
	top: 0;
	//left: 0;
	bottom: 0;
	background-color: @app-side-menu-background;

	.section-header {
		background-color: darken(@app-header-background, 5);
		padding-left: 8px;
		margin-left: -2px;

		img {
			display: inline-flex;
			width: @app-header-size - 16px;
			height: @app-header-size - 16px;
			margin-right: 8px;
		}
	}

	.app-side-menu-items {
		display: flex;
		flex-flow: column nowrap;

		a {
			height: @app-side-menu-item-height;
			line-height: @app-side-menu-item-height;
			color: @app-side-menu-item-color;
			font-size: @app-side-menu-item-font-size;
			text-decoration: none;
			transition: all .2s ease;
			padding: 0 16px;
			margin-left: 8px;

			&:hover {
				color: @app-side-menu-item-hover-color;
				background-color: rgba(255, 255, 255, .2);
			}

			&.selected {
				pointer-events: none;
				font-weight: 500;
				color: @app-side-menu-item-active-color;
				background-color: rgba(255, 255, 255, .3);
				z-index: 3;
			}
		}

		.app-side-menu-item-group {
			display: flex;
			flex-flow: column nowrap;

			header {
				border-top: 1px solid @page-background;
				border-bottom: 1px solid @page-background;
				border-left: 2px solid darken(@page-background, 10);
				background-color: darken(@app-side-menu-background, 5);
				color: darken(@app-side-menu-background, 35);
				padding: 0 8px 0 8px;
				font-weight: bold;
				font-size: @app-side-menu-item-font-size - 1px;
				display: flex;
				margin: 0 0 0 -2px;
				height: @app-side-menu-item-height;
				line-height: @app-side-menu-item-height;
			}
		}

		.app-side-menu-item-subgroup {
			display: flex;
			flex-flow: column nowrap;
			margin-left: 16px;
			a {
				font-size: .9em;
			}
		}
	}
}