// app base
@page-background: #e1faff;
@app-background: #fff;
@app-color: #333;
// header
@app-header-background : rgb(42, 206, 218);
@app-header-color: rgb(6, 80, 80);
@app-header-font: system-ui 16px;
@app-header-size: 56px;