// app base
@page-background: #e1faff;
@app-background: #fff;
@app-color: #333;
// header
@app-header-background: #fb1fa0;
@app-header-color: #fff0fe;
@app-header-font: bold 16px/1rem system-ui;
@app-header-size: 56px;
// side menu
@app-side-menu-width: 200px;
@app-side-menu-background: #95a3a5;
@app-side-menu-color: #fff;
// page container
@app-page-content-padding: 16px;
// form
@form-error-message-background: #ff3760;
@form-error-message-color: #fff;